extends ../base.pug

block content
  h1 Edit an owner
  form(action=`/owners/${owner.id}?_method=PATCH`, method="POST")
    input(type="text", name="name", value=`${owner.name}`)
    input(type="submit", value="Edit")
  form(action=`/owner/${owner.id}?_method=DELETE`, method="POST")
    input(type="submit", value="X")
